        @use 'sass:map';
        @use 'sass:list';
        @import 'base/reset.scss';
        @import 'base/typography.scss';
        @import 'utils/variables.scss';
        @import 'utils/function.scss';
        /* Mobile style */
        
         :root {
            /* Primary colors */
            #{$selector_1}: $primary;
            #{$selector_2}: $secondary;
            #{$selector_3}: $tertiary;
            /* Neutral color */
            #{$selector_4}: $neutral;
        }
        /* Body style */
        
        body {
            height: 99vh;
            background-color: hsl(185, 75%, 39%);
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            font-family: 'Kumbh Sans', sans-serif;
            overflow: hidden;
        }
        /* Background images style */
        
        .bg-image {
            &--top {
                position: relative;
                height: pixelsToRems(800px);
                width: pixelsToRems(800px);
                bottom: 560px;
                right: 140px;
            }
            &--bottom {
                position: relative;
                min-height: pixelsToRems(800px);
                min-width: pixelsToRems(800px);
                top: 400px;
                right: 205px;
            }
        }
        /* Card style */
        
        .card {
            background-color: #fff;
            position: absolute;
            width: 20rem;
            height: 26rem;
            border-radius: 1rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            &__header {
                display: flex;
                flex-direction: column;
                position: relative;
                height: pixelsToRems(120px);
            }
            &__header-image {
                position: absolute;
                height: pixelsToRems(160px);
                width: 100%;
            }
            &__header-profile {
                width: pixelsToRems(120px);
                height: auto;
                border: thick solid #fff;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: 6rem;
                left: 6.5rem;
            }
            &__body {
                position: absolute;
                z-index: 1;
                top: pixelsToRems(230px);
                left: pixelsToRems(90px);
                text-align: center;
            }
            &__text {
                font-weight: 700;
                font-size: 1.3rem;
                &--light {
                    position: relative;
                    font-weight: 400;
                    font-size: 0.8rem;
                    color: $tertiary;
                    left: pixelsToRems(30px);
                }
                &--age {
                    display: inline-block;
                    position: relative;
                    left: 5px;
                    font-size: 1.4rem;
                }
                &--city {
                    font-size: 0.9rem;
                    top: pixelsToRems(13px);
                }
            }
            &__footer {
                display: flex;
                justify-content: space-evenly;
            }
            &__number {
                font-size: 1.2rem;
                font-weight: 700;
            }
            &__text {
                left: -0.1rem;
            }
            &__stats {
                padding-top: 1.5rem;
            }
            &__stats--followers {
                & p:nth-of-type(2) {
                    left: -0.7rem;
                    top: 0.4rem;
                }
            }
            &__stats--likes {
                & p:nth-of-type(2) {
                    left: 0.5rem;
                    top: 0.4rem;
                }
            }
            &__stats--photos {
                & p:nth-of-type(2) {
                    left: -0.2rem;
                    top: 0.4rem;
                }
            }
            &__text--footer {
                left: -0.1rem;
                font-size: 0.7rem;
                letter-spacing: 0.1rem;
                color: $tertiary;
            }
        }
        /* Footer card style */
        
        footer {
            position: relative;
            top: pixelsToRems(195px);
            border-top: thin solid #e2e2e2;
            width: 100%;
            height: auto;
        }
        /* Footer style */
        
        .attribution {
            position: absolute;
            width: 99%;
            bottom: 5rem;
            right: 0rem;
            line-height: 10px;
            text-align: center;
            & p:nth-of-type(2) {
                position: relative;
                text-align: center;
                bottom: -1rem;
            }
        }
        /* style tablet and desktop */
        
        @media only screen and (min-width: pixelsToEms(480px)) {
            .bg-image--top {
                position: relative;
                min-height: 62.5rem;
                min-width: 62.5rem;
                bottom: pixelsToRems(450px);
                right: pixelsToRems(300px);
            }
            .bg-image--bottom {
                position: relative;
                min-height: 62.5rem;
                min-width: 62.5rem;
                top: pixelsToRems(530px);
                right: pixelsToRems(350px);
            }
            .card {
                background-color: #fff;
                position: absolute;
                width: 23rem;
                height: 22.9rem;
                border-radius: 1rem;
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .card__header {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 7.5rem;
            }
            .card__header-image {
                position: absolute;
                height: 9rem;
                width: 100%;
            }
            .card__header-profile {
                width: 7rem;
                height: auto;
                border: thick solid #fff;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: pixelsToRems(89px);
                left: pixelsToRems(135px);
            }
            .card__body {
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                align-items: center;
                z-index: 1;
                top: pixelsToRems(215px);
                left: pixelsToRems(130px);
                text-align: center;
            }
            .card__text {
                font-weight: 700;
                font-size: 1.3rem;
                &--light {
                    position: relative;
                    font-weight: 400;
                    font-size: 0.8rem;
                    color: #6a6f81;
                    left: 1.875rem;
                }
                &--age {
                    display: inline-block;
                    position: relative;
                    left: 5px;
                    font-size: 1.1rem;
                }
                &--city {
                    font-size: 0.9rem;
                    top: 0.8125rem;
                }
                &--name {
                    color: $secondary;
                    font-size: 1.1rem;
                    display: inline-block;
                    position: relative;
                    right: -4rem;
                }
            }
            .card__footer {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            .card__number {
                font-size: 1.1rem;
                font-weight: 700;
            }
            .card__text {
                left: -0.1rem;
            }
            .card__stats {
                padding-top: 1rem;
            }
            .card__stats--followers p:nth-of-type(2) {
                left: -0.7rem;
                top: 0.4rem;
            }
            .card__stats--likes p:nth-of-type(2) {
                left: 0.3rem;
                top: 0.4rem;
            }
            .card__stats--photos p:nth-of-type(2) {
                left: -0.2rem;
                top: 0.4rem;
            }
            .card__text--footer {
                left: -0.1rem;
                font-size: 0.6rem;
                letter-spacing: 0.1rem;
                color: #6a6f81;
            }
            footer {
                position: relative;
                top: pixelsToRems(165px);
                border-top: thin solid #e2e2e2;
                width: 100%;
                height: auto;
            }
        }